@import '../components/navbar/navbar.scss';
@import '../components/landpageComps/linkCard.scss';

//mixins
@mixin center-flex($direction: row,$main: center, $cross: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $cross;
}
//variables
$firstColor: #FFB100;
$secondColor: #9C528B;
$darkColor: #153243;
$lightColor: #EEF0EB;

//general
a{
    text-decoration: none;
    color: black;
}

//Layout
.landpage-container {
    min-height: 100vh;
}
.main-container{
    padding-top: 64px;
    min-height: calc(100vh - 64px);
    background-color: grey;
}
//landpage
.landpage-section {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    @include center-flex();
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(21,50,67,1) 40%); 
}
.card-container {
    width: 100%;
    height: 100vh;
    @include center-flex(row, center, flex-start);
    // gap: 4rem;
    flex-wrap: wrap;
}
//about section
.about-section {
    background-color: $lightColor;
    color: $lightColor;
    @include center-flex();
}
.about-position {
    width: 70%;
    @include center-flex(row, space-around, flex-start);
    z-index: 5;
}
.about-info {
    width: 450px;
}
.about-skills{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: $darkColor;
    font-weight: bold;
    background-color: $lightColor;
    padding: 0.7rem;
}
.skillCard{
    display: flex;
    flex-direction: column;
}
.skill-bar{
    height: 12px;
    background-color: $darkColor;
}
.bar-value{
    height: 100%;
    background-color: $firstColor;
}
// .iconfont{
//     font-size: 950%; 
// }
// .iconinnner{
//     display: inline;
//     padding: 24px;
// }
// contact section
.contact-section {
    @include center-flex();
    background-color: $lightColor;
}
.contactIcons {
    @include center-flex(column, center,center);
}
//portfolio section
.portfolio-upper-section{
    height: 150px;
    background-color: black;
    @include center-flex();
}
.portfolio-title{
    color: white;
    font-size: 450%;
}
.portfolio-second-section{
    width: 100%;
    @include center-flex();
}
.projects-container{
    width: 100%;
    @include center-flex(row, center, flex-start);
}
.project-card {
    width: calc(100% / 4);
    aspect-ratio: 1/1;
    background-color: beige;
    border: 1px solid brown;
}